<div>
    <div class="form-group">
        <select class="form-control" ng-model="settings.lang" name="" ng-required="true" ng-options="voice as voice for voice in voices | filter:langFilter">
            <option value="">Please select one</option>
        </select>
    </div>
    <div class="form-group">
        <div class="pull-right">
            <label class="text-normal"><sup><input type="checkbox" ng-model="settings.show_all"> Show non-English languages</sup></label>
        </div>
        <button type="button" class="btn btn-success" ng-disabled="loading || !settings.lang || !text" ng-click="createTTS()">
            <span ng-show="!loading"><i class="fa fa-bullhorn"></i> Generate speech</span>
            <span ng-show="loading"><i class="fa fa-refresh fa-spin"></i> Generating..</span>
        </button>

        <div audio-player sound="{{sound}}" skin="simple" hide-disabled="true"></div>
    </div>
</div>